
/* General css settings for attributes */

body {
  font-family:  -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  margin: 0px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 5px;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 5px;
}

a {
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
}

/* Stuff valid for both mobile and normale css */

/* Introduction */

#div_introduction{
  width: calc(100% - 30px);
  padding-top: 25px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
  background-color: aliceblue;
  text-align: center;
}

#img_profile_picture{
  border-radius: 50%;
}

#div_shorttext{
  text-align: justify;
  font-size: 20px;
  font-weight: 500;
}

#div_hyperlinks{
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-flow: row wrap;
}

.icon_hyperlink{
  color: black;
}

/*Current research */

#div_current_research{
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 10px;
}

/*Publications */
#div_publications{
  padding: 20px;
  padding-top: 5px;
}

#div_publications_wrapper{
  margin-top: -25px;
}

#ul_publications{
  list-style-type: none; /* Remove bullets */
  margin: 0px;
  padding: 10px;
}

.img_publications{
  max-width: 100%;
  min-width: 350px;
  max-height: 200px;
}

.div_publication_venue{
  margin-bottom: 10px;
  margin-top: 10px;
  font-weight: 500;}

.bibtex_link{
  color: -webkit-link;
}

.pre_bibtex{
  border: 1px solid lightgray;
  padding: 5px;
  max-width: 100%;
  overflow-x: auto;
  transition: visibility 1s, opacity 1s linear;
}
